doctype html
html
	head
		title= title
		link(rel="stylesheet" href="assets/styles/styles.css")
	body
		//h1= message
		//
		//button#getScores Get score
		//
		//#tablegoeshere
		//
		//
		//div
		//	form#scoreform
		//		input(type="name" placeholder="name")#nameInput
		//		input(type="number" placeholder="number")#scoreInput
		//		input(type="submit" value="Post score")#postScore

		canvas#game

		script(src="assets/scripts/bundle.js")